@charset "UTF-8";
.options {
  float: left;
  text-align: left;
  margin-left: 30px;
  margin-top: -50px;
  color: mediumblue; }

.block {
  text-align: center; }

.btnStart {
  text-align: center;
  margin-top: 0;
  margin-left: 30px; }

.вtnActions {
  text-align: center; }

img {
  width: 30%;
  margin-left: 100px; }

h1 {
  margin-left: 100px;
  color: mediumblue; }
